In [1]:
import pandas as pd

In [2]:
file = 'Resources/veterans_pop_loc.csv'
df = pd.read_csv(file)
df.head()

,Unnamed: 0,State,County,Latitude,Longitude,TotalVets,VeteranPopulationPct,MaleVetsPct,FemaleVetsPct,WhiteVetsPct,BlackVetsPct,HispanicVetsPct,OtherRaceVetsPct,LessThanHSVetsPct,HighSchOnlyVetsPct,SomeCollegeVetsPct,CollegeDegreeVetsPct,EmployeedVetsPct,UnemployeedVetsPct
0,0,AL,Alabama,32.601011,-86.680736,330207.0,8.766780,89.794281,10.205719,72.534198,22.945607,2.022065,3.059596,6.396034,28.257189,37.385370,27.961408,71.330519,4.319786
1,1,AL,Autauga,32.601011,-86.680736,5272.0,12.635111,87.253414,12.746586,84.028832,9.673748,5.576631,1.119120,3.007812,20.859375,31.621094,44.511719,86.549340,3.558460
2,2,AL,Baldwin,32.601011,-86.680736,19663.0,11.815500,92.147689,7.852311,90.621980,5.360321,1.439251,2.929360,3.612916,27.659792,36.676731,32.050560,74.927707,3.430532
3,3,AL,Barbour,32.601011,-86.680736,1328.0,6.622120,92.093373,7.906627,59.563253,37.349398,1.054217,3.087349,12.349398,39.834337,36.746988,11.069277,49.752066,9.966777
4,4,AL,Bibb,32.601011,-86.680736,1433.0,8.022618,95.882763,4.117237,79.134682,18.492673,2.372645,0.000000,6.901510,54.708843,22.286125,16.103523,56.901408,0.000000

In [3]:
df.columns

Index(['Unnamed: 0', 'State', 'County', 'Latitude', 'Longitude', 'TotalVets',
       'VeteranPopulationPct', 'MaleVetsPct', 'FemaleVetsPct', 'WhiteVetsPct',
       'BlackVetsPct', 'HispanicVetsPct', 'OtherRaceVetsPct',
       'LessThanHSVetsPct', 'HighSchOnlyVetsPct', 'SomeCollegeVetsPct',
       'CollegeDegreeVetsPct', 'EmployeedVetsPct', 'UnemployeedVetsPct'],
      dtype='object')

In [5]:
df_1 = df.drop('Unnamed: 0', axis=1)
df_1.head()

,State,County,Latitude,Longitude,TotalVets,VeteranPopulationPct,MaleVetsPct,FemaleVetsPct,WhiteVetsPct,BlackVetsPct,HispanicVetsPct,OtherRaceVetsPct,LessThanHSVetsPct,HighSchOnlyVetsPct,SomeCollegeVetsPct,CollegeDegreeVetsPct,EmployeedVetsPct,UnemployeedVetsPct
0,AL,Alabama,32.601011,-86.680736,330207.0,8.766780,89.794281,10.205719,72.534198,22.945607,2.022065,3.059596,6.396034,28.257189,37.385370,27.961408,71.330519,4.319786
1,AL,Autauga,32.601011,-86.680736,5272.0,12.635111,87.253414,12.746586,84.028832,9.673748,5.576631,1.119120,3.007812,20.859375,31.621094,44.511719,86.549340,3.558460
2,AL,Baldwin,32.601011,-86.680736,19663.0,11.815500,92.147689,7.852311,90.621980,5.360321,1.439251,2.929360,3.612916,27.659792,36.676731,32.050560,74.927707,3.430532
3,AL,Barbour,32.601011,-86.680736,1328.0,6.622120,92.093373,7.906627,59.563253,37.349398,1.054217,3.087349,12.349398,39.834337,36.746988,11.069277,49.752066,9.966777
4,AL,Bibb,32.601011,-86.680736,1433.0,8.022618,95.882763,4.117237,79.134682,18.492673,2.372645,0.000000,6.901510,54.708843,22.286125,16.103523,56.901408,0.000000

In [7]:
df_1['VeteranPopulationPct'] = df_1['VeteranPopulationPct'].div(100)
df_1['MaleVetsPct'] = df_1['MaleVetsPct'].div(100)
df_1['FemaleVetsPct'] = df_1['FemaleVetsPct'].div(100)
df_1['WhiteVetsPct'] = df_1['WhiteVetsPct'].div(100)
df_1['BlackVetsPct'] = df_1['BlackVetsPct'].div(100)
df_1['HispanicVetsPct'] = df_1['HispanicVetsPct'].div(100)
df_1['OtherRaceVetsPct'] = df_1['OtherRaceVetsPct'].div(100)
df_1['LessThanHSVetsPct'] = df_1['LessThanHSVetsPct'].div(100)
df_1['HighSchOnlyVetsPct'] = df_1['HighSchOnlyVetsPct'].div(100)
df_1['SomeCollegeVetsPct'] = df_1['SomeCollegeVetsPct'].div(100)
df_1['CollegeDegreeVetsPct'] = df_1['CollegeDegreeVetsPct'].div(100)
df_1['EmployeedVetsPct'] = df_1['EmployeedVetsPct'].div(100)
df_1['UnemployeedVetsPct'] = df_1['UnemployeedVetsPct'].div(100)
df_1.head()

,State,County,Latitude,Longitude,TotalVets,VeteranPopulationPct,MaleVetsPct,FemaleVetsPct,WhiteVetsPct,BlackVetsPct,HispanicVetsPct,OtherRaceVetsPct,LessThanHSVetsPct,HighSchOnlyVetsPct,SomeCollegeVetsPct,CollegeDegreeVetsPct,EmployeedVetsPct,UnemployeedVetsPct
0,AL,Alabama,32.601011,-86.680736,330207.0,0.000877,0.897943,0.102057,0.725342,0.229456,0.020221,0.030596,0.063960,0.282572,0.373854,0.279614,0.713305,0.043198
1,AL,Autauga,32.601011,-86.680736,5272.0,0.001264,0.872534,0.127466,0.840288,0.096737,0.055766,0.011191,0.030078,0.208594,0.316211,0.445117,0.865493,0.035585
2,AL,Baldwin,32.601011,-86.680736,19663.0,0.001182,0.921477,0.078523,0.906220,0.053603,0.014393,0.029294,0.036129,0.276598,0.366767,0.320506,0.749277,0.034305
3,AL,Barbour,32.601011,-86.680736,1328.0,0.000662,0.920934,0.079066,0.595633,0.373494,0.010542,0.030873,0.123494,0.398343,0.367470,0.110693,0.497521,0.099668
4,AL,Bibb,32.601011,-86.680736,1433.0,0.000802,0.958828,0.041172,0.791347,0.184927,0.023726,0.000000,0.069015,0.547088,0.222861,0.161035,0.569014,0.000000

In [8]:
df_1['VetPop'] = df_1['TotalVets'] * df_1['VeteranPopulationPct']
df_1['MaleVets'] = df_1['TotalVets'] * df_1['MaleVetsPct']
df_1['FemaleVets'] = df_1['TotalVets'] * df_1['FemaleVetsPct']
df_1['WhiteVets'] = df_1['TotalVets'] * df_1['WhiteVetsPct']
df_1['BlackVets'] = df_1['TotalVets'] * df_1['BlackVetsPct']
df_1['HispanicVets'] = df_1['TotalVets'] * df_1['HispanicVetsPct']
df_1['OtherRaceVets'] = df_1['TotalVets'] * df_1['OtherRaceVetsPct']
df_1['LessThanHSVets'] = df_1['TotalVets'] * df_1['LessThanHSVetsPct']
df_1['HighSchOnlyVets'] = df_1['TotalVets'] * df_1['HighSchOnlyVetsPct']
df_1['SomeCollegeVets'] = df_1['TotalVets'] * df_1['SomeCollegeVetsPct']
df_1['CollegeDegreeVets'] = df_1['TotalVets'] * df_1['CollegeDegreeVetsPct']
df_1['EmployeedVets'] = df_1['TotalVets'] * df_1['EmployeedVetsPct']
df_1['UnemployeedVets'] = df_1['TotalVets'] * df_1['UnemployeedVetsPct']
df_1.head()

,State,County,Latitude,Longitude,TotalVets,VeteranPopulationPct,MaleVetsPct,FemaleVetsPct,WhiteVetsPct,BlackVetsPct,...,WhiteVets,BlackVets,HispanicVets,OtherRaceVets,LessThanHSVets,HighSchOnlyVets,SomeCollegeVets,CollegeDegreeVets,EmployeedVets,UnemployeedVets
0,AL,Alabama,32.601011,-86.680736,330207.0,0.000877,0.897943,0.102057,0.725342,0.229456,...,239513.000015,75768.000011,6677.0,10102.999999,21120.152677,93307.214793,123449.107263,92330.525260,235538.365620,14264.235853
1,AL,Autauga,32.601011,-86.680736,5272.0,0.001264,0.872534,0.127466,0.840288,0.096737,...,4430.000000,510.000000,294.0,59.000000,158.571875,1099.706250,1667.064063,2346.657813,4562.881207,187.602033
2,AL,Baldwin,32.601011,-86.680736,19663.0,0.001182,0.921477,0.078523,0.906220,0.053603,...,17819.000000,1054.000000,283.0,576.000000,710.407758,5438.744946,7211.745613,6302.101684,14733.035022,674.545454
3,AL,Barbour,32.601011,-86.680736,1328.0,0.000662,0.920934,0.079066,0.595633,0.373494,...,791.000000,496.000000,14.0,41.000000,164.000000,529.000000,488.000000,147.000000,660.707438,132.358804
4,AL,Bibb,32.601011,-86.680736,1433.0,0.000802,0.958828,0.041172,0.791347,0.184927,...,1134.000000,265.000000,34.0,0.000000,98.898634,783.977714,319.360173,230.763480,815.397183,0.000000

In [11]:
df_2 = df_1[['State','County','Latitude','Longitude','TotalVets','MaleVets',
            'FemaleVets','WhiteVets','BlackVets','HispanicVets','OtherRaceVets','LessThanHSVets',
            'HighSchOnlyVets','SomeCollegeVets','CollegeDegreeVets','EmployeedVets','UnemployeedVets']]
df_2.head()

,State,County,Latitude,Longitude,TotalVets,MaleVets,FemaleVets,WhiteVets,BlackVets,HispanicVets,OtherRaceVets,LessThanHSVets,HighSchOnlyVets,SomeCollegeVets,CollegeDegreeVets,EmployeedVets,UnemployeedVets
0,AL,Alabama,32.601011,-86.680736,330207.0,296507.000009,33699.999991,239513.000015,75768.000011,6677.0,10102.999999,21120.152677,93307.214793,123449.107263,92330.525260,235538.365620,14264.235853
1,AL,Autauga,32.601011,-86.680736,5272.0,4600.000000,672.000000,4430.000000,510.000000,294.0,59.000000,158.571875,1099.706250,1667.064063,2346.657813,4562.881207,187.602033
2,AL,Baldwin,32.601011,-86.680736,19663.0,18119.000000,1544.000000,17819.000000,1054.000000,283.0,576.000000,710.407758,5438.744946,7211.745613,6302.101684,14733.035022,674.545454
3,AL,Barbour,32.601011,-86.680736,1328.0,1223.000000,105.000000,791.000000,496.000000,14.0,41.000000,164.000000,529.000000,488.000000,147.000000,660.707438,132.358804
4,AL,Bibb,32.601011,-86.680736,1433.0,1374.000000,59.000000,1134.000000,265.000000,34.0,0.000000,98.898634,783.977714,319.360173,230.763480,815.397183,0.000000

In [13]:
import numpy as np
df_2.dtypes

State                 object
County                object
Latitude             float64
Longitude            float64
TotalVets            float64
MaleVets             float64
FemaleVets           float64
WhiteVets            float64
BlackVets            float64
HispanicVets         float64
OtherRaceVets        float64
LessThanHSVets       float64
HighSchOnlyVets      float64
SomeCollegeVets      float64
CollegeDegreeVets    float64
EmployeedVets        float64
UnemployeedVets      float64
dtype: object

In [27]:
df_2['TotalVets'] = df_2['TotalVets'].fillna(-1)
df_2['TotalVets'] = df_2['TotalVets'].astype(int)
df_2['MaleVets'] = df_2['MaleVets'].fillna(-1)
df_2['MaleVets'] = df_2['MaleVets'].astype(int)
df_2['FemaleVets'] = df_2['FemaleVets'].fillna(-1)
df_2['FemaleVets'] = df_2['FemaleVets'].astype(int)
df_2['WhiteVets'] = df_2['WhiteVets'].fillna(-1)
df_2['WhiteVets'] = df_2['WhiteVets'].astype(int)
df_2['BlackVets'] = df_2['BlackVets'].fillna(-1)
df_2['BlackVets'] = df_2['BlackVets'].astype(int)
df_2['HispanicVets'] = df_2['HispanicVets'].fillna(-1)
df_2['HispanicVets'] = df_2['HispanicVets'].astype(int)
df_2['OtherRaceVets'] = df_2['OtherRaceVets'].fillna(-1)
df_2['OtherRaceVets'] = df_2['OtherRaceVets'].astype(int)
df_2['LessThanHSVets'] = df_2['LessThanHSVets'].fillna(-1)
df_2['LessThanHSVets'] = df_2['LessThanHSVets'].astype(int)
df_2['HighSchOnlyVets'] = df_2['HighSchOnlyVets'].fillna(-1)
df_2['HighSchOnlyVets'] = df_2['HighSchOnlyVets'].astype(int)
df_2['SomeCollegeVets'] = df_2['SomeCollegeVets'].fillna(-1)
df_2['SomeCollegeVets'] = df_2['SomeCollegeVets'].astype(int)
df_2['CollegeDegreeVets'] = df_2['CollegeDegreeVets'].fillna(-1)
df_2['CollegeDegreeVets'] = df_2['CollegeDegreeVets'].astype(int)
df_2['EmployeedVets'] = df_2['EmployeedVets'].fillna(-1)
df_2['EmployeedVets'] = df_2['EmployeedVets'].astype(int)
df_2['UnemployeedVets'] = df_2['UnemployeedVets'].fillna(-1)
df_2['UnemployeedVets'] = df_2['UnemployeedVets'].astype(int)
df_2.head()

C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:23: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:24: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
C:\Users\rbing\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,State,County,Latitude,Longitude,TotalVets,MaleVets,FemaleVets,WhiteVets,BlackVets,HispanicVets,OtherRaceVets,LessThanHSVets,HighSchOnlyVets,SomeCollegeVets,CollegeDegreeVets,EmployeedVets,UnemployeedVets
0,AL,Alabama,32.601011,-86.680736,330207,296507,33699,239513,75768,6676,10102,21120,93307,123449,92330,235538,14264
1,AL,Autauga,32.601011,-86.680736,5272,4599,672,4429,509,294,59,158,1099,1667,2346,4562,187
2,AL,Baldwin,32.601011,-86.680736,19663,18118,1544,17819,1054,283,575,710,5438,7211,6302,14733,674
3,AL,Barbour,32.601011,-86.680736,1328,1222,104,790,495,14,41,163,529,487,147,660,132
4,AL,Bibb,32.601011,-86.680736,1433,1373,59,1133,264,33,0,98,783,319,230,815,0

In [28]:
df_2.dtypes

State                 object
County                object
Latitude             float64
Longitude            float64
TotalVets              int32
MaleVets               int32
FemaleVets             int32
WhiteVets              int32
BlackVets              int32
HispanicVets           int32
OtherRaceVets          int32
LessThanHSVets         int32
HighSchOnlyVets        int32
SomeCollegeVets        int32
CollegeDegreeVets      int32
EmployeedVets          int32
UnemployeedVets        int32
dtype: object

In [29]:
df_2.to_csv('Resources/veterans_pop_loc_v2.csv', encoding='utf-8')